body {
    background: url("https://wallpaper-house.com/data/out/10/wallpaper2you_418285.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    
}
.btn
 { 
     margin-left:20px;
 }
 
