<% include ../partials/header %>
<div class="container" style="margin-top:15px">
<div class="jumbotron">
  <h1 class="display-4">Welcome To Hostel Management System</h1>
  <p class="lead">This is a Hostel management applicattion which helps the students and wardens to track the hostel records </p>
  <hr class="my-4">
  <p>Have fun exploring</p>
</div>
</div>

<% include ../partials/footer %>