<% include ../partials/header %>


<div class="container">
	<h1>Maintenance</h1>
	<% data.forEach(function (user) { %>
	<form method="post" action="/<%=user.Reg%>/maintain">
         

        <label>Please enter your complaint here <%=user.Name%>  <%=user.Reg%></label>
		<input type="text" name="descrip" class="form-control" placeholder="Enter your complaint" aria-label="Complaint" aria-describedby="basic-addon1" ></input>

   		
   		<button class="btn btn-primary" style="margin-top:15px">Submit</button>
	</form>
    <% }) %>
<div>



<% include ../partials/footer %>