<% include ../partials/header %>
				<div class="container" style="background-color:white;margin-top:15px;height:700px;border-radius:12px;">


        <% data.forEach(function (user) { %>
						<form method="post" action="/warden/<%=user.W_id%>/outing">
  						<div class="form-group" >
    						<label >Reg ID</label>
    						<input type="text" class="form-control" name="id"  placeholder="Enter ID ">
    						<small id="emailHelp" class="form-text text-muted">Please enter the register number in the correct format ex-CSE16136</small>
    						
  						</div>
  						<div class="form-group">
    						<label >Date</label>
    						<input type="text" class="form-control" name="date" placeholder="Date">
  						</div>
  						<div class="form-group">
    						<label >Outgoing timr</label>
    						<input type="text" class="form-control" name="outime" placeholder="Out time">
  						</div>
  						<div class="form-group">
    						<label >In time</label>
    						<input type="text" class="form-control" name="intime" placeholder="In time">
  						</div>
  						<div class="form-group">
    						<label >Exceed time</label>
    						<input type="text"  class="form-control" name="exceedtime" placeholder="Exceed">
  						</div>
  						<div class="form-group">
    						<label >Block</label>
    						<input type="text" class="form-control" name="block" placeholder="block state">
  						</div>
  						<small id="emailHelp" class="form-text text-muted">Enter 0 or 1</small>		
  						<button type="submit" class="btn btn-primary">Submit</button>
						</form>
				<div>
        <div style="margin-top:12px">
         
        <a href="/warden/<%=user.W_id%>/warden/<%=user.W_id%>/outingview"><button type="submit" class="btn btn-primary">View all outings</button></a>
        
        </div>

        <% }) %>






<% include ../partials/footer %>