<% include ../partials/header %>
				<div class="container" style="background-color:white;margin-top:15px;height:500px;border-radius:12px;overflow:scroll;">

						<form method="post" action="/warden/sign">
  						<div class="form-group" >
    						<label >ID</label>
    						<input type="text" class="form-control" name="id"  placeholder="Enter ID ">
    						<small  class="form-text text-muted">Please enter the register number in the correct format ex-MAT101</small>
    						
  						</div>
  						<div class="form-group">
    						<label >Name</label>
    						<input type="text" class="form-control" name="name" placeholder="Name">
  						</div>
  						
  						
  						<div class="form-group">
    						<label >Phone</label>
    						<input type="number"  class="form-control" name="phone" placeholder="Phone no">
  						</div>
  						<div class="form-group">
    						<label >Email</label>
    						<input type="email" class="form-control" name="email" placeholder="Email">
  						</div>
              <div class="form-group">
                <label >Block</label>
                <input type="text" class="form-control" name="block" placeholder="Block">
              </div>
              <small  class="form-text text-muted">First letter of block name</small>
  						<div class="form-group">
    						<label >Password</label>
    						<input type="text" class="form-control" name="password" placeholder="Password">
  						</div>
  						<small  class="form-text text-muted">Please do not put any symbols</small>
  						
  						<button type="submit" class="btn btn-primary">Submit</button>
						</form>
				<div>




<% include ../partials/footer %>